################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/2022/x64
/2023/x64
/AdventOfCode2024/x64
/x64
